body {
    margin: 0;
    background: whitesmoke;

}
.container {
    width: 80%;
    margin: auto;
}

header {
    background: #656565;
}

header::after {
    content: '';
    display:  table;
    clear: both;
}

.logo {
    float: left;
    padding-left: 50px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 60px;
    padding-top: 37px;
    padding-right: 30px;

    position: relative;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;

}

nav a:hover {
    color: #58DEFE;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #FFFFFF;
    position: absolute;

    top: 0;
    width: 0%;

    transition: all ease-in-out 200ms;
}

nav a:hover::before {
    width: 100%;
}

.heroImg {
    background-color: ivory;
}
.me {
    position: relative;
    text-align: center;
    color: white;
    float: right;
    right: 200px;
    top: 100px;
}
.introtext { 
    position: relative;
    left: 250px;
    top: 100px;
    font-family: 'Sen', sans-serif;
    font-size: x-large;
}

.bluetext {
    color: #58DEFE;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#656565;
    color: #FFFFFF;
    text-align: start;
    }

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}